---
hide: true
title: File List
layout: src/layouts/_base.hbs
---

<div class="container">
	<header class="header" role="banner">
		<figure class="logo">
			<img src="{{{assets}}}/_base/logo.png" alt="{{{package.name}}}" />
		</figure>
		<h1 class="project-title">
			{{{package.name}}} {{{package.version}}}
			<span class="last-modified">
				<b>Last Modified:</b> <span>{{{timestamp}}}</span>
			</span>
		</h1>
	</header>
	<div class="main" id="main" role="main">
		<h2>Components</h2>
		<ul class="file-list">
			{{#withSort pages "filename"}}
				{{#unless data.hide}}
					<li class="file">
						<a href="{{relative dest this.dest}}">{{{filename}}}</a>
					</li>
				{{/unless}}
			{{/withSort}}
		</ul>
	</div>
</div>
